.home-page {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/home/background-home-desktop.jpg');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    padding: 12%;
}

.home-page-wrapper {
    margin-top: auto;
    color: white;
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
}

.home-page-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 400px;
}

.home-page-heading1 {
    font-weight: 300;
}

.home-page-heading5 {
    color: #D0D6F9;
}

.home-page-text {
    color: #D0D6F9;
    font-size: 1.125rem;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 2rem;
}

.home-page-btn {
    width: 17.125rem;
    height: 17.125rem;
    border-radius: 50%;
    background-color: white;
    color: #0B0D17;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.125rem;
    border: none;
    position: relative;
}

.home-page-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.1);
}


@media screen and (max-width: 950px) {
    .home-page {
        padding-block: 150px;
        background-image: url('/assets/home/background-home-tablet.jpg');
        background-size: 100% 100%;
    }

    .home-page-wrapper {
        height: 100%;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .home-page-content {
        width: 100%;
        margin-bottom: auto;
    }
    .home-page-text {
        padding-inline: 92px;
    }
}


@media screen and (max-width: 500px) {
    .home-page {
        
        background-image: url('/assets/home/background-home-mobile.jpg');
        background-size: 100% 100%;
    }

    .home-page-text, .home-page{
        padding: 0;
    }

    .home-page-wrapper {
        gap: 50px;
        justify-content: center;
        padding-inline: 15%;
    }

    .home-page-content {
        gap: 1rem;
        margin-bottom: 0;
    }

    .home-page-text {
        font-size: 0.9375rem;
        line-height: 1.5625rem;
    }

    .home-page-btn {
        width: 9.375rem;
        height: 9.375rem;
        font-size: 1.25rem;
        letter-spacing: 0.07813rem;
    }
    
}