* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Barlow Condensed', sans-serif; */
    font-family: 'Bellefair', serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.heading1 {
    text-transform: uppercase;
    color: #FFF;
    font-size: 9.375rem;
}

.heading5 {
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.75rem;     
    letter-spacing: 0.3rem;
}

@media screen and (max-width: 500px) { 
    .heading5 {
        font-size: 1rem;
        letter-spacing: 0.16875rem;
    }

    .heading1 {
        font-size: 5rem;
        line-height: 6.25rem;
    }
}
