* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
}

body {
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

#root {
    min-height: 100%;
    min-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.heading1 {
    text-transform: uppercase;
    color: #FFF;
    font-size: 9.375rem;
}

.heading2 {
    text-transform: uppercase;
    color: #FFF;
    font-size: 6.25rem;
    font-weight: 400;
}

.heading3 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

.heading4 {
    font-size: 2rem;
    text-transform: uppercase;
}

.heading5 {
    
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.75rem;     
    letter-spacing: 0.3rem;
}

.subheading1 {
    font-size: 1.75rem;
    text-transform: uppercase;
}

.subheading2 {
    font-size: 0.875rem;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.14763rem;
    text-transform: uppercase;
}

.body-text {
    font-size: 1.125rem;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 2rem;
}

.nav-text {
    font-size: 1rem;
    letter-spacing: 0.27em;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
}

@media screen and (max-width: 750px) { 
    .heading5 {
        font-size: 1rem;
        letter-spacing: 0.16875rem;
    }

    .heading1 {
        font-size: 5rem;
        line-height: 6.25rem;
    }
}
